/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ========= General styles ========= */
body {
    background-color: #181d3f; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #ffffff;
    font-family: 'Pridi', sans-serif;
    margin: 0px;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FBA834;
}

h3, h5 {
    letter-spacing: 1px;
    color: #ffffff;
}

/* ========= Header ========= */
header {
    text-shadow: -2px -2px 2px #000000;
    background-color: #333A73;
    position: sticky;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    padding-left: 20px;
}

header label {
  
    padding-right: 20px;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style: none;
    background-color: #333A73;
}

#menu li {
    color: #FBA834;
    margin-bottom: 1em;
}

/* menu underscore effect */
.active {
    border-bottom: solid #FBA834;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #333A73;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    left: 0;
    display: none;
    top: 99%;
}

/* Nav Toggle */
#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #FBA834;
}

/* ========= Main ========= */
main {
    /* Make main element take up any surplus space to push footer down */ 
    flex: 1 0 auto;
}

/* ========= Hero section ========= */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-background.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text{
    background-color: #387bdfcb;
    font-size: 100%;
    position:absolute;
    bottom: 30px;
    width: 80%;
    padding-left: 10px;
    left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #FBA834;
}

/* ========= News Section ========= */
#news {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
}

#news h1{
    background-color: #333A73;
}

/* News article wrapper */
#newswrapper {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* News articles */
.article {
    max-width: 99%;
    background-color: #041837;
    border-radius: 5px;
    border: 5px solid #FBA834;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.article a {
    text-decoration: none;
}

.article img{
    margin: auto;
    max-width: 60%;
    height: auto;
}
.article h3 {
    font-size: 100%;
}

/* ========= Footer ========= */
footer {
    background-color: #333A73;
}

/* ========= Gallery ==========*/
#gallery {
    padding-top: 20px;
}

#photos img {
    width: 100%;
    line-height: 1em;
}

/* ========= Stories ==========*/
#stories-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    column-gap: 500px;
    width: 80%;
    margin: auto;
    background-image: url(../images/background-gradient.png);
}

#stories-container p{
    font-family: pontano-sans;
}

.item {
    margin-bottom: 50px;
    background-color: #041837;
    border-radius: 5px;
    border: 5px solid #FBA834;
    padding: 5px;
}

.item p {
    font-size: 20px;
}

/* Submit button */
#submit-stories-button-link{
    text-decoration: none;
}

.submit-stories-button {
    align-self: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    padding: 15px 32px;
    font-size: 120%;
    width: 200px;
    font-weight: bolder;
    text-decoration: none;
    color: #000000;
    background: linear-gradient(25deg, #FBA834, #ffcd87);
}

.submit-stories-button:hover {
    background: linear-gradient(25deg, #fdb550, #f8d19a);
}

/* ========= Submit stories ========= /*
/* Submit-Stories Section */
#submit-stories {
    display: flex;
    flex-direction: column;
}

/* Stories Form */
#submit-stories-form{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 30px;
    flex-grow: 1;
    background-color: #041837;
    background-size: cover;
    border-radius: 5px;
    border: 5px solid #FBA834;
}

#submit-stories-form h1{
        margin-bottom: 20px;
}

#submit-stories p{
    text-align: center;
    margin-top: 10px;
}

/* First Name, Last Name, */
.text-input{
    background: white;
    width: 100%;
    height: 30px;
    border: 1px solid #041837;
    border-radius: 20px;
    padding: 0 5px;
}

/* Story - text */ 
.story-text-input{
    background: white;
    width: 100%;
    height: 100px;
    border: 1px solid #041837;
    border-radius: 20px;
    padding: 0 5px;
}

/* Stories radio-buttons */
/* Container */
.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* Hides the radiobutton */
.radio-buttons-hidden {
    position: absolute;
    z-index: -99;
}

/* Radio Label - Emoji / font-size */
.radio-buttons label {
    font-size: 300%;
    background-color: #04183700;
}

/* Radio button */
.radio-button {
    margin-top: 20px;
    margin-bottom: 20px; 
    padding: 10px;
    border: 3px solid #f7b85f;
    border-radius: 50px;
    text-align: center;
}

/* Change background color when radio button is checked */
.radio-button:has( input:checked){
    background-color: #213e6b; 
}

.radio-button:hover{
    background-color: #213e6b;
}

/* Colors the labels/emojis for radiobuttons */
#frustrated {
    color: #f7b85f;
}

#angry {
    color: #e2643d;
}

#furious {
    color: #ff3c19;
}

/* Submit-Button - Share your pain */
.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #333A73;
    font-weight: bolder;
    color: #FBA834;
}

/* Footer */
#social-networks {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    list-style-type: none;
    text-align: center;
}

#social-networks i{
    font-size: 160%;
    padding: 5%;
    color: #FBA834;
}

/* Media query: Large phones and landscape phones(576px and up) */
@media screen and (min-width: 576px){
    /*Gallery */
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: Tablets and larger (768px and up) */
@media screen and (min-width: 768px){ 
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        /*Hide hamburger menu with larger screens*/
        display: none;
    }

    /* Hero section */
    #cover-text {
        width: 40%;
        left: 50px;
        font-size: 120%;
    }

    /* News section */
    .article h3 {
        font-size: 150%;
    }
        
    /*Gallery */
    #photos {
        column-count: 3;
        column-gap: 0;
    }

     /* Stories-Form */
     #submit-stories {
        margin-top: 20px;
     }
}
  
/* Media query: Laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    /* Add hover effect on the menu */
    #menu a:hover{
        border-bottom: solid #FBA834;
    }

    h1 {
        font-size: 3rem;
    }

    /* News section */
    #newswrapper {
        flex-direction: column;
   }

    .article h3 {
        font-size: 150%;
    }
    
    /*Gallery */
    #photos {
        column-count: 4;
        column-gap: 10px;
    }

    /* Hero section */
    #cover-text {
        width: 30%;
        left: 50px;
        font-size: 120%;
    }

    /* Stories-Form */
    #submit-stories-form {
        width: 80%;
        margin: auto;
    }

    /* hover effects */
    .submit-button:hover {
        background-color: #51588f;
    }

    .text-input:hover {
        border: 5px solid #FBA834;
    }

    .story-text-input:hover {
        border: 5px solid #FBA834;
    }
}

/* Media query: Laptops and larger (1440px and up) */
@media screen and (min-width: 1440px) {
    h1 {
        font-size: 3rem;
    }

    /* Navigation */
    #menu {
        font-size: 150%;
    }

   /* Hero section */
    #cover-text {
    width: 20%;
    font-size: 120%;
   }

   /* News section */
    #newswrapper {
        flex-direction: row;
   }

   .article {
    width: 100%;
   }

   .article h3 {
    font-size: 200%;
    }

    /* Gallery */
    #gallery {
    padding-top: 40px;
    }

    /* Submit stories */ 
    /* Stories-Form */
    #submit-stories-form {
        width: 70%;
        margin: auto;
    }
}

/* Media query: Laptops and larger (2560px and up) */
@media screen and (min-width: 2560px) {
    h1 {
        font-size: 5rem;
    }

    /* Navigation */
    #menu {
        font-size: 200%;
    }

   /* Hero section */
    #cover-text {
    width: 15%;
    font-size: 180%;
   }

   /* News section */
    #newswrapper {
        flex-direction: row;
   }

   .article {
        width: 100%;
   }

   .article h3 {
        font-size: 200%;
    }

    /* Gallery */
    #gallery {
        padding-top: 80px;
    }

    /* Story */
    .item p {
        font-size: 30px;
    }
    
    /*Submit stories*/
    #submit-stories{
        font-size: 200%;
    }
    
    .submit-stories-button {
        font-size: 200%;
        width: 300px;
    }
}